.container {
  max-width: 960px;
}

li .nav-link
{
  color: white;

}
li .nav-link:hover
{
  color: #D4C5C5;
  
}

a .bi-twitter:hover 
{
  color: #D4C5C5;
  fill: #D4C5C5;
}

a .bi-instagram:hover 
{
  color: #D4C5C5;
  fill: #D4C5C5;
}
a .bi-facebook:hover 
{
  color: #D4C5C5;
  fill: #D4C5C5;
}

#boton
{
  background-color:rgb(0, 144, 221);
  color: white;
  border: none;
}

#boton:hover
{
  background-color:rgb(0, 144, 221);
  color: #D4C5C5;
  border: none;
}

footer
{
  padding-top: 10%;
}